* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
  }
  
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  
 
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.7rem;
      height: 4rem;
      line-height: 4rem;
    }
  
    .choice {
      height: 110px;
      width: 110px;
    }
  
    img {
      height: 100px;
      width: 100px;
    }
  
    .choices {
      gap: 1rem;
    }
  
    .score-board {
      font-size: 2rem;
      gap: 3rem;
    }
  
    #user-score,
    #comp-score {
      font-size: 4rem;
    }
  
    #msg {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
